!!!
html
  head
    title= 'Anothermall'
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery-1.6.2.js', type='text/javascript')
    #container
      #header
        h1
          a(href='/') #{nameAndVersion(appName, version)}
      - if (typeof currentUser !== 'undefined')
        .right
          a(href='/mall/items') 商品
        .right
          a(href='/mall/carts') 购物车
        .right
          a(href='/mall/tickets') 已买到的商品
        .right
          a(href='/account/users') 帐户         
        .right
          a#logout(href='/account/sessions') 登出
        .right
          &nbsp;
        #errorMessages
        #normalMessages
      !{flashMessages}
      != body

    
