.page
  h2 注册

  form.users(method='post', action='/users')
    !=partial('fields', { locals: { user: user } })
    div
      input(type='submit', value='注册')
      span \ 或 
        a(href='/sessions/new') 登录

